body{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #333;
    position: relative;
}

.header{
    text-align: center;
    font-size: 1.5em;
}
h1{
    color: rgba(255, 255, 255, 0.884);
    margin-top: 0.3em;
    margin-bottom: 0.1em;
}
main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}
#canvas{
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    min-width: 200px;
    min-height: 200px;
    width: 30vw;
    height: 30vw;
    max-width: 700px;
    max-height: 700px;

}

/*Buttons*/
.wrapper{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin-left: 3em;
    border: 2px solid rgba(255, 255, 255, 0.418);
    border-radius: 20px;
}

/* Color picker */
#picked-color{
    padding: 0;
    border: none;
    height: 5em;
    width: 5em;
    border-radius: 50px;
    cursor: pointer;
}
#picked-color::-webkit-color-swatch-wrapper{
    padding: 0;
}
#picked-color::-webkit-color-swatch{
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.418);
    /* box-shadow: 0 3px 10px rgb(27, 27, 27); */
}
label[for = 'picked-color']{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
 
/* Button styling */
button{
    font-size: 1em;
    width: 5em;
    height: 2em;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.418);
    cursor: pointer;
    transition: transform 500ms ease;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.change-size{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#size-input{
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.418);
    font-size: 1em;
    width: 2.8em;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 0 10px;
}
.change-size button{
    font-size: 0.9em;
    height: 3em;
    width: 3em;
}
#black{
    color: #fff;
    background-color: black;
}
#random{
    text-shadow: 0 -2px 9px rgb(0, 0, 0);
    color: rgb(254, 254, 254);
    background: linear-gradient( rgb(255, 0, 0), rgb(0, 255, 242), rgb(18, 112, 253), rgb(116, 87, 243), rgb(25, 0, 255), rgb(0, 255, 0), rgb(251, 255, 0));
}
#erase{
    color: #fff;
    background-color: transparent;
}
#reset{
    color: #fff;
    background-color: #555;
}
#size{
    background-color: #c5c3c3;
    color: #000;
    font-weight: 700;
    font-size: 1em;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px #fff;
}
.warning{
    font-size: 0.8em;
    margin: 0;
    position: absolute;
    bottom: 0.7em;
    font-weight: 700;
    color: orangered;
    background-color: #fff;
    border-radius: 8px;
    padding: 0 0.6em;
    display: none;
}
footer{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1px;
    left: 70vw;
    opacity: 0.7;
}
img{
    width: 2em;
    height: fit-content;
}
footer p{
    display: inline;
    color: #fff;
    margin: 0;
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-right: 5em;
}

